<div class="container-fluid" class="feedback-container">
  <div class="container">
    <div class="row p-0">
      <div class="col-12 col-md-6 p-5 feedback-message">
        <div class="h1 mb-4 pl-4 text-uppercase intro-headline">
          We would<br />
          love to hear <br />from you!
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec urna mattis quam tempor fermentum et quis
          nibh. Donec eget massa ullamcorper, dignissim metus ut, egestas nunc. Phasellus ullamcorper orci vitae turpis
          lacinia condimentum sit.
        </p>
        <p></p>
      </div>
      <div class="col-12 col-md-6 form-container p-5 feedback-form text-white">
        <div class="form-group row">
          <label class="col-sm-3 text-md-right" for="nameInput">Name: </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="nameInput" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 text-md-right" for="emailInput">Email: </label>
          <div class="col-9">
            <input type="email" class="form-control" id="emailInput" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 text-md-right" for="commentTextarea">Comment: </label>
          <div class="col-9">
            <textarea
              placeholder="Enter your feedback comment here ..."
              class="form-control"
              id="commentTextarea"
              rows="10"
            ></textarea>
          </div>
        </div>
        <div class="col-12 text-right p-0">
          <button type="submit" class="btn btn-primary px-5">SEND</button>
        </div>
      </div>
    </div>
  </div>
</div>
