.hero {
  background-image: url('../../../../../assets/images/cells@2x.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  .subheading {
    color: #feff05;
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}

.scores {
  display: flex;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1rem;
  & > div {
    display: flex;
    align-items: baseline;

    .score {
      background-color: #944e97;
      color: white;
      border-radius: 6px;
      padding: 0.5rem;
      margin: 0.25rem;
      font-size: 1.15rem;
      padding: 0.4rem;
      font-size: 1rem;
    }
  }
}
.download-all {
  border: 2px solid #842e9b;
  color: #842e9b;
}


.max-fixed {
  max-width: 1600px;
}