#about_container {padding-bottom:60px}
#about_container .title h4{padding-top:40px;color:#359aaf;}
#about_container hr{border-top: 1px solid #359aaf;margin-top: 3px;}
app-external-link {
    cursor: pointer;
    color: #005ea2;
    text-decoration: underline;
}