<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg p-0" id="primary-nav">
    <div class="container ">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-fill w-100" id="navbarNavDropdown">
          <li
            class="nav-item"
            *ngFor="let item of menuItems?.menu"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <span *ngIf="item.dropdown == null">
              <span *ngIf="item.external">
                <a class="nav-link" href="{{ item.href }}">{{ item.name }}</a>
              </span>
              <span *ngIf="!item.external">
                <a class="nav-link" routerLink="{{ item.href }}">{{ item.name }}</a>
              </span>
            </span>

            <span
              *ngIf="item.dropdown != null"
              class="nav-item dropdown"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact: true}"
            >
              <div ngbDropdown class="d-inline-block">
                <a
                  class="nav-link dropdown-toggle"
                  id="aboutNavDropdown"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ngbDropdownToggle
                >
                  {{ item.name }}
                </a>
                <li ngbDropdownMenu class="dropdown-menu px-2 dropdown-submenu" aria-labelledby="SARSNavDropdown">
                  <span *ngFor="let sub of item.dropdown">
                    <span *ngIf="!sub.dropdown">
                      <span *ngIf="sub.external">
                        <a class="dropdown-item" href="{{ sub.href }}"
                          >{{ sub.name }} <span *ngIf="sub.newMark == true" class="newMark">NEW!</span></a
                        >
                      </span>
                      <span *ngIf="!sub.external">
                        <a class="dropdown-item" routerLink="{{ sub.href }}"
                          >{{ sub.name }} <span *ngIf="sub.newMark == true" class="newMark">NEW!</span></a
                        >
                      </span>
                    </span>
                    <span *ngIf="sub.dropdown">
                      <li class="dropdown-submenu">
                        <span *ngIf="sub.external">
                          <a class="dropdown-item" href="{{ sub.href }}"
                            >{{ sub.name }} <span *ngIf="sub.newMark == true" class="newMark">NEW!</span></a
                          >
                        </span>
                        <span *ngIf="!sub.external">
                          <a class="dropdown-item" routerLink="{{ sub.href }}"
                            >{{ sub.name }} <span *ngIf="sub.newMark == true" class="newMark">NEW!</span></a
                          >
                        </span>
                        <ul class="dropdown-menu">
                          {{
                            secondSub | json
                          }}
                          <span *ngFor="let secondSub of sub.dropdown">
                            <span *ngIf="secondSub.external">
                              <a class="dropdown-item" href="{{ secondSub.href }}"
                                >{{ secondSub.name }}
                                <span *ngIf="secondSub.newMark == true" class="newMark">NEW!</span></a
                              >
                            </span>
                            <span *ngIf="!secondSub.external">
                              <a class="dropdown-item" routerLink="{{ secondSub.href }}"
                                >{{ secondSub.name }}
                                <span *ngIf="secondSub.newMark == true" class="newMark">NEW!</span></a
                              >
                            </span>
                          </span>
                        </ul>
                      </li>
                    </span>
                  </span>
                </li>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
