.info-span {
}

.point-info {
  min-height: 400px;
  padding: 14px;
  & > div {
    padding-bottom: 10px;
  }
  .warning-link {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .warning-box {
    border: 2px solid #deb400;
  }
}
.font-color-gold {
  color: #deb400;
}

.data-source-link {
  color: #0066CC;
  cursor: pointer;
}
.data-source-link:hover
{
  text-decoration: underline;
}
.hide-point {
  display: none;
}
.group-name {
  cursor: pointer;
}
.pseudo-full {
  stroke: #983897;
  fill: #983897;
  stroke-width: 3px;
}
.pseudo-partial {
  stroke: #983897;
  fill: #fff;
  stroke-width: 3px;
}
.live-full {
  stroke: #fe993d;
  fill: #fe993d;
  stroke-width: 3px;
}
.live-partial {
  stroke: #fe993d;
  fill: #fff;
  stroke-width: 3px;
}
a.btn.pseudo-full,
a.btn.pseudo-partial {
  background-color: #983897;
  color: white;
  margin: 10px;
}

a.btn.live-full,
a.btn.live-partial {
  background-color: #fe993d;;
  color: white;
  margin: 10px;
}
