#network-branding {
    background-color: #531958;
    color: #fff;
    height: 30px;
    overflow: hidden;
    

    a {
        color: #fff;
        
    }

    span {
        font-size: 14px;
        padding-top: 5px;
        padding-right: .5em;
        font-family: Arial,Helvetica,sans-serif;
    }

    img{
        height: 30px;
    }

    img.masthead-logo {
        height: 20px;
        margin: .25em .5em;
    }
}

.brand-container {
    text-decoration: none;
    background: #fff;
    img:first-child {
        padding-right: 14px;
        border-right: 2px solid #ccc
    }
    a {
        text-decoration: none;
    }
}

.webName {
    display: inline;
    a  {
        text-decoration: none;
        color: #672e6c;
        font-size: 34px;
        @media (max-width: 575.98px) { 
            font-size: 26px;
            letter-spacing: inherit;
        }
        vertical-align: middle;
        line-height: 90px;
        letter-spacing: -2px;
    }
}
