<div class="" [hidden]="dataLoading">
  <div class="row">
    <div class="col-12">
      <div class="d-flex pt-3 pl-2 variant-list">
        <div *ngFor="let lineage of displayLineages | slice: 0:displayLineages.length - 2; let i = index">
          <button
            class="lineage-btn p-2-5"
            [ngClass]="{active: lineage === activeLineage}"
            (click)="changeLineage(lineage)"
            href="javascript:void(0)"
          >
            {{ lineage.viralLineage }}
          </button>
        </div>
      </div>
      <div class="d-flex  pl-2 variant-list">
        <div
          *ngFor="
            let lineage of displayLineages | slice: displayLineages.length - 2:displayLineages.length;
            let i = index
          "
        >
          <button
            class="lineage-btn p-2-5"
            [ngClass]="{active: lineage === activeLineage}"
            (click)="changeLineage(lineage)"
            href="javascript:void(0)"
          >
            {{ lineage.viralLineage }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row banner-container">
    <div class="col-12">
      <div class="mt-2 pb-1 pt-2 banner-warning">
        <div>
          <b>NOTE:</b> the list of therapeutics shown below has been pre-filtered to improve readability, so not all
          agents are shown by default. To see the full list of therapeutics, please select <b>"All"</b> from the
          <b>THERAPEUTICS SHOWN</b> filter below to the left.”
        </div>
      </div>
    </div>
    <img src="./assets/filter-arrow.png" class="filter-arrow" alt="" />
  </div>
  <div class="row">
    <div class="col-12">
      <div class="pl-3 pb-3">
        <div class="chart-header h4">
          <span class="font-weight-bold">{{ activeLineage?.viralLineage }}</span> | Reported
          <span class="font-italic">in vitro</span> Therapeutic Activity
        </div>
        <div class="d-flex">
          <div class="font-italic">{{ activeLineage?.whoName }}</div>
          <div>
            <span
              *ngIf="
                activeLineage?.viralLineage !== 'All Variants' &&
                activeLineage?.viralLineage !== 'What\'s New?' &&
                activeLineage?.viralLineage !== 'Single Mutation Variant'
              "
              class="v-class"
              [ngStyle]="{color: classification?.color, 'border-color': classification?.color}"
              >{{ classification?.name }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <app-activity-filters
        [mutations]="mutations"
        [filterGroups]="filterGroups"
        [filterResults]="filterState"
        (changePointFilters)="changePointFilters($event)"
        (changeDrugFilters)="changeVisibleDrugs($event)"
      ></app-activity-filters>
    </div>
    <div class="col-10 d-flex pb-4 ">
      <div class="w100 pb-4 mt-2 position-relative center-container">
        <app-legend
          [activeLineage]="activeLineage"
          [variants]="displayLineages"
          (variantSelected)="legendVariantClicked($event)"
          [dataPoints]="displayPoints"
          [subvariants]="subvariants"
          (setSubLegend)="setSubLegend($event)"
          (subvariantSelected)="setSubvariant($event)"
        ></app-legend>
        <div #chart></div>
        <div class="chart-footer">
          <img src="./assets/ncats.png" class="ncats-img" alt="" />
          <span class="today">{{ today | date: 'M.d.yyyy':'UTC' }}</span>
        </div>
        <div class="beeswarm" #bChart></div>
        <div *ngIf="lineageLoading" class="loader-container">
          <div class="backdrop"></div>
          <app-loader class="lineage-loader w100 position-absolute"></app-loader>
        </div>
      </div>
      <app-selected-point-panel
        [selectedDataPoint]="selectedDataPoint | async"
        [neighbors]="neighbors | async"
        [colorByVariant]="colorByLineage"
      ></app-selected-point-panel>
    </div>
  </div>
</div>
<ng-container *ngIf="dataLoading">
  <div class="col-12 my-4 d-flex justify-content-center nodata">
    <div *ngIf="!error">
      <app-loader></app-loader>
    </div>
    <div *ngIf="error" class="error-msg">
      An error has occured. Please try again later.
    </div>
  </div>
</ng-container>
